.flex-base {
    display: flex;
    display: -webkit-flex;
}
.flex-row-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.flex-column-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grid-base {
    display: grid !important;
}
.grid-base:before {
    display: none !important;
}
.card-box {
    border-radius: 10px;
    background-color: #fff;
}